.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    border-bottom: 1px solid lightgray;
}
.title{
    display: flex;
    align-items:  center;
}
.title > h2{
    margin-right: 15px;
    cursor: pointer;
    color: #333;
}
.name{
    color: #7c70c2 !important;
}
.search{
    display: flex;
    background-color: #d9d8e0;
    padding: 7px;
    align-items: center;
    border-radius: 15px;
}
.search-icon{
    margin-left: 4px;
    color: gray;
    font-size: 18px;
}
.search > input{
    width: 200px;
    padding: 8px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}
.content{
    display: flex;
    align-items: center;
}
.edit-icon{
    margin-right: 2rem;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.mobile-profile{
    display: none;
}

.searchProfile{
    margin-top: 0.5rem;
    border-radius: 15px;
    width: 240px;
    padding: 10px;
    background-color: #d9d8e0;
    position: absolute;
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.search-content{
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #dfdee5;
    border-radius: 10px;
    margin: 5px 0;
    color: #333;
    
    transition: 0.3s ease-in-out;
}
.search-content:hover{
    color: #fff !important;
    background-color: #7c70c2;
}
.search-profile{
    margin-left: 10px;
    font-weight: 600;
}
.search-name{
    font-size: 1rem;
}
.search-email{
    font-size: 0.7rem;
}
.notfound{
    padding: 15px 0;
    margin-right: 10px;
    text-align: center;
    font-weight: 600;
    color: gray;
}
@media (max-width: 590px){
    .Profile{
        display: none;
    }
    .mobile-profile{
        display: block;
        width: 80%;
        background-color: #d9d8e0;
        margin: 10px auto;
        border-radius: 15px;
        
    }

.mobile-search{
    display: flex;
    padding: 8px;
    align-items: center;
}

.mobile-search >input {
    width: 100%;
    padding: 8px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}
.mobileProfile{
    position: absolute;
    background-color: #d9d8e0;
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mobile-content{
    display: flex;
    padding: 12px;
    background-color: #dfdee5;
    border-radius: 6px;
    margin: 7px 0;
    color: #333;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.mobile-content:hover {
    color: #fff !important;
    background-color: #7c70c2;
}
.mobprofile{
    margin-left: 10px;
}
.mobile-name{
    font-size: 17px;
    font-weight: 600;
}
.mobile-email{
    font-size: 14px;
}
}

