.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    border-bottom: 1px solid lightgray;
}
.title{
    display: flex;
    align-items:  center;
}
.title > h2{
    margin-right: 15px;
    cursor: pointer;
    color: #333;
}
.name{
    color: #7c70c2 !important;
}
.search{
    display: flex;
    background-color: #d9d8e0;
    padding: 7px;
    align-items: center;
    border-radius: 15px;
}
.search-icon{
    margin-left: 4px;
    color: gray;
    font-size: 18px;
}
.search > input{
    width: 200px;
    padding: 8px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}
.content{
    display: flex;
    align-items: center;
}
.edit-icon{
    margin-right: 2rem;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.mobile-search{
    display: none;
}

.searchProfile{
    margin-top: 0.6rem;
    border-radius: 15px;
    width: 240px;
    padding: 10px;
    background-color: #d9d8e0;
    position: absolute;
}
.search-content{
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #dfdee5;
    border-radius: 10px;
    margin: 5px 0;
    color: #333;
    transition: 0.3s ease-in-out;
}
.search-content:hover{
    color: #fff !important;
    background-color: #7c70c2;
}
.search-profile{
    margin-left: 10px;
    font-weight: 600;
}
.search-name{
    font-size: 1rem;
}
.search-email{
    font-size: 0.7rem;
}
@media (max-width: 590px){
    .search{
        display: none;
    }
    .mobile-search{
    display: flex;
    background-color: #d9d8e0;
    width: 80%;
    padding: 7px;
    align-items: center;
    border-radius: 15px;
    margin: 10px auto;
}
.mobile-search >input {
    width: 200px;
    padding: 8px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}
}

